.banner {
  /* background-image: linear-gradient(to right, #25003B, #4E2B68, #4E2B68, #44195B,#4E2B68, #25003B); */
  /* background-size: cover; */
  /* background-position: center; */
  height: 70vh;
  align-items: center;
  padding: 15px 0 0px 0;
}

.banner h1 {
  margin: 0;
  color: #d4af37;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.bannerImg.small{
  border: 2px solid rgba(59, 28, 50, 0.315);
  width:200px;
  height:190px;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
}

.bannerImg.large {
  border: 2px solid rgba(59, 28, 50, 0.315);
  width:320px;
  height:388px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
