#navbar {
  /* background-color: #3B1C32; */
  /* background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('/css/images/gems_by_jonny-lew.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  height: 30vh;
  /* padding-bottom: 16px; */
}
#subtitle {
  color: #460d43;
  font-size: 20px;
  /* font-family: 'Dancing Script'; */
}
ul {
  align-items: center;
}
.menu {
  font-family: 'Dancing Script';
  background-color: #F8FFF4;
  color: rgba(70, 13, 67, 0.7);
}

a.logo-alt {
  font-size: 20px;
  padding-top: 30px;
}
a {
  padding: 8px;
  font-size: 16px;
  color: #3b1c32;
}
a:hover {
  text-decoration: none;
  color: rgba(59, 28, 50, 0.603);
  font-size: 105%;
}

.navbar-toggler {
  margin: 0 auto;
}

a.dropdown-item {
  font-size: 12px;
}
/* .navbar-lewagon {
  justify-content: space-between;
  background: #3B1C32;
}

a, i, li.nav-items {
  color: white;
  padding: 0 15px;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
} */
